.banner {
	background-color: #1c1c1c;
	color: white;
	font-size: 15px;
	text-align: left;
	padding: 5px;
	display: flex;
	justify-content: left;
	flex-direction: row;
	align-items: center;
}

.logo-title-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.title {
	padding-left: 16px;
	text-decoration: none;
	color: white
}

a:link {
	text-decoration: none;
}

.logo {
	height: 45px;
	width: 55px;
}