.ChartsContainer {
    background-color: #0c0f35;
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh;
    text-align: center;
}

.ChartsDetailHeader {
    color: #FFFFFF;
    margin-top: 20px;
}

.ChartsButtons {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.ChartsButtons > button {
    background-color: #1a4369;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
}

.ChartsButtons > button:hover {
    background-color: #3f74a5;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-duration: 200ms;
    cursor: pointer;
}